* {
    text-decoration: none;
    margin: 0;
    pad: 0px;
}

li {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #293462;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
} 

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.coloum {
    margin-top: 50px;
    margin-bottom: 50px;
}

.coloum .description {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    padding-right: 50px;
    color: #293462;
    width: 100%;
    line-height: 50px;
}

p {
    font-family: 'Avenir Next';
    font-weight: 800;
    font-size: 15px;
    padding-right: 70px;
    color: #293462;
    line-height: 50px;
}

.table-blue {
    background: #293462;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.table-blue:hover {
    background: #fc5185;
}

.table-pink {
    background: #293462;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.table-pink:hover {
    background: #fc5185;
}



  


